@font-face {
    font-family: 'ALS Lamon';
    src: url('ALSLamon-Regular.eot');
    src: local('ALS Lamon Regular'), local('ALSLamon-Regular'),
        url('ALSLamon-Regular.eot?#iefix') format('embedded-opentype'),
        url('ALSLamon-Regular.woff2') format('woff2'),
        url('ALSLamon-Regular.woff') format('woff'),
        url('ALSLamon-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

